<div class="row-1 vh-100">
    <img src="https://source.unsplash.com/{{img}}/1600x900" class="img-fluid position-absolute position-relative vw-100 vh-100" alt="TedeSoft">
    <div class="row-1 position-relative vh-100" [style.background-color]=fondoAlpha>
        <div class="row align-self-center w-100">
            <div class="col-12 mt-lg-5 text-center align-middle">
            </div>
        </div>
    </div>
    <div class="centered">
        <h1 class="text-white display-3">{{titulo}}</h1>
    </div>
</div>