<div class="row-1 vh-100">
    <img src="https://source.unsplash.com/hpjSkU2UYSU/1600x900" class="img-fluid position-absolute position-relative vw-100 vh-100" alt="TedeSoft">
    <div class=" row-1 position-relative vh-100" style="background-color: rgba(156, 178, 238, 0.521)">
        <div class="row">
            <div class="col-12 mt-lg-5 centered">
                <img src="./assets/img/LogoCompleto.svg" class="vh-100 img-fluid" width="400" alt="TedeSoft">
                <h1 class="d-none">TedeSoft</h1>
            </div>
        </div>
    </div>
</div>

<div class="pt-5 pt-lg-5"></div>
<div class="pt-5 pt-lg-5"></div>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="https://source.unsplash.com/Px3iBXV-4TU/400x400" class="card-img-top" alt="Desarrollo Web">
            <div class="card-body">
                <h5 class="card-title">Desarrollo Web</h5>
                <p class="card-text">Desarrollo de páginas web y portales intranet a la medida para facilitar el trabajo dentro de su organización</p>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/6lcT2kRPvnI/800x800" class="card-img-top" alt="Social Media">
            <div class="card-body">
                <h5 class="card-title">Social media</h5>
                <p class="card-text">Ayudamos con la gestion y administración de tus redes sociales (Facebook,Instagram)</p>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/wD1LRb9OeEo/800x800" class="card-img-top" alt="Consultoria">
            <div class="card-body">
                <h5 class="card-title">Consultoria</h5>
                <p class="card-text">Le ayudamos a tomar la mejor solución tecnológica para su empresa</p>
            </div>
        </div>
    </div>
</div>

<div class="pt-lg-5"></div>
<hr class="h-100">