<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<a href="https://wa.me/573013360158?text=Me%20gustaría%20hacer%20una%20cotización" class="whatsapp" target="_blank"><i class="fa fa-whatsapp whatsapp-icon"></i></a>
<script>
    (function(w, d, u) {
        var s = d.createElement('script');
        s.async = true;
        s.src = u + '?' + (Date.now() / 60000 | 0);
        var h = d.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s, h);
    })(window, document, 'https://cdn.bitrix24.es/b12730651/crm/site_button/loader_3_7uuugl.js');
</script>