<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <h5>Que hacemos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Software</a></li>
                <li><a class="text-muted" href="#">Social Media</a></li>
                <li><a class="text-muted" href="#">Consultoría</a></li>
                <!-- <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li> -->
            </ul>
        </div>
        <div class="col-12 col-md">
            <h5>Nosotros</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Equipo</a></li>
                <!-- <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li> -->
            </ul>
        </div>
        <div class="col-12 col-md">
            <h5>Contacto</h5>
            <ul class="list-unstyled text-small">
                <li>Correo electronico: <a href="mailto:{{_servicio.info.correocontacto}}?subject=Contacto">{{_servicio.info.correocontacto}}</a></li>
                <li>Dirección: {{_servicio.info.direccion}} </li>
                <li>Teléfono: {{_servicio.info.telefono}} </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="mx-auto text-center">
        <ul class="list-inline align-content-center">
            <li class="list-inline-item">
                <img src="./assets/img/logo.svg" width="30" alt="TedeSoft SAS" /> TedeSoft SAS {{anio}} - Todos los derechos resevados</li>
            <li class="list-inline-item">Imagenes de: <a href="http://unsplash.com">Unsplash</a></li>
        </ul>
    </div>
</footer>
<!-- Footer -->