<nav class="navbar navbar-light navbar-expand-lg navbar-custom shadow p-3 mb-5">
    <a class="navbar-brand" href="#">
        <img src="./assets/img/LogoCompleto.svg" width="200" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto h5">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="'/'" class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="'/equipo'" class="nav-link" href="#">Equipo</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="'/conozcanos'" class="nav-link" href="#">Conózcanos</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="'/contacto'" class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</nav>